/Project/BackEnd/FoodZOAI.PaymentGateway/.vs
/Project/BackEnd/FoodZOAI.PaymentGateway/FoodZOAI.PaymentGateway/bin
/Project/BackEnd/FoodZOAI.PaymentGateway/FoodZOAI.PaymentGateway/obj
/node_modules/
/Project/BackEnd/.vs
/Project/BackEnd/FoodZOAI.UserManagement/bin
/Project/BackEnd/FoodZOAI.UserManagement/obj/Debug
