/Project/BackEnd/FoodZOAI.PaymentGateway/.vs
/Project/BackEnd/FoodZOAI.PaymentGateway/FoodZOAI.PaymentGateway/bin
/Project/BackEnd/FoodZOAI.PaymentGateway/FoodZOAI.PaymentGateway/obj
/node_modules/
/Project/BackEnd/FoodZOAI/FoodZOAI.UserManagement/bin
/Project/BackEnd/FoodZOAI/FoodZOAI.UserManagement/obj
/Project/BackEnd/FoodZOAI/.vs
/React Templates
/Project/BackEnd/FoodZOAI/FoodZOAI.UserManagement/UserManagement.Tests/bin
/Project/BackEnd/FoodZOAI/FoodZOAI.UserManagement/UserManagement.Tests/obj
/Project/BackEnd/FoodZOAI/FoodZOAI.UserManagement/FoodZOAI.UserMangementunitTests/ClassLibrary2/obj
/Project/BackEnd/FoodZOAI/FoodZOAI.UserManagement/FoodZOAI.UserMangementunitTests/ClassLibrary1/obj/Debug/net8.0
/Project/BackEnd/FoodZOAI/FoodZOAI.UserManagement/FoodZOAI.UserMangementunitTests/ClassLibrary1/obj
/Project/BackEnd/FoodZOAI/FoodZOAI.UserManagement/FoodZOAI.UserMangementunitTests/ClassLibrary2/bin
/Project/BackEnd/FoodZOAI/FoodZOAI.Tests/bin
/Project/BackEnd/FoodZOAI/FoodZOAI.Tests/obj
/Project/BackEnd/FoodZOAI/FoodZOAI.FileSystem/bin
/Project/BackEnd/FoodZOAI/FoodZOAI.FileSystem/obj
