/Project/BackEnd/FoodZOAI.PaymentGateway/.vs
/Project/BackEnd/FoodZOAI.PaymentGateway/FoodZOAI.PaymentGateway/bin
/Project/BackEnd/FoodZOAI.PaymentGateway/FoodZOAI.PaymentGateway/obj
/node_modules/
/Project/BackEnd/FoodZOAI/FoodZOAI.UserManagement/bin
/Project/BackEnd/FoodZOAI/FoodZOAI.UserManagement/obj
/Project/BackEnd/FoodZOAI/.vs
/React Templates
